[Global]
auth-url="https://identity.api.rackspacecloud.com/v2.0/"
username="{{ rackspace_username }}"
rax-api-key="{{ rackspace_api_key }}"
region="{{ rackspace_region }}"
tenant-id="{{ rackspace_tenant_id }}"

[LoadBalancer]

[Networking]
ipv6-support-disabled={{ rackspace_network_ipv6_disabled | string | lower }}
internal-network-name="private"
public-network-name="public"

[Metadata]
search-order="configDrive,metadataService"
