# This YAML file contains secret objects,
# which are necessary to run external rackspace cloud controller.

kind: Secret
apiVersion: v1
metadata:
  name: rackspace-cloud-config
  namespace: kube-system
data:
  cloud.conf: {{ rackspace_cloud_config_secret.content }}
